@import vars
@import mixins

.form-docs-header 
  height: $form-docs-header-height
  margin-bottom: $form-docs-header-margin-bottom
  width: $form-width

.form-docs-title 
  +vertical-align()

.form-docs-init 
  width: $form-docs-init-width
  border: $form-docs-init-border
  color: $form-docs-init-color
  padding: $form-docs-init-padding
  text-align: $form-docs-text-align
  margin-right: -0.75em
  a  
    cursor: pointer 

.form-docs-no-docs 
  color: $form-docs-no-docs-color


.form-docs-list 
  margin-bottom: $form-docs-list-margin-bottom


.form-input-doc  
  padding: $form-input-doc-padding
  height: $form-input-height
  
  /* from form-input */
  border: $form-input-border
  margin: 0
  white-space: normal
  font-size: $form-input-font-size
  border-radius: $form-input-border-radius
  background-color: $form-input-background-color
  overflow: hidden

  .form-input-marker 
    background-color: $form-input-marker-background-color
    padding: $form-input-marker-padding
    margin-left: $form-input-marker-margin-left
    float: left
    height: 100%
  
  .form-text-input  
    margin-right: -1em
    padding-top: 0.6em
    padding-right: 1.5em
    width: 70%

.messages
  padding-top: 0.6em
  float: right
  text-align: right
  animation-name: upload
  animation-fill-mode: forwards
  animation-duration: 8s
  animation-delay: 2s
  animation-timing-function: ease-in-out
  animation-play-state: paused
  &.play
    animation-play-state: running
  div
    margin-bottom: .5em


@keyframes upload 
  0%  
    margin-top: 0
  27%
    margin-top: 0
  33%  
    margin-top: -2em
  59%  
    margin-top: -2em 
  66% 
    margin-top: -4em
  93% 
    margin-top: -4em 
  100%  
    margin-top: -5.8em 


.form .fa-pencil  
  padding-top: 0.2em

.messages,
.form-input-doc:hover .fa-pencil
  color: #016AD2
  font-weight: bold

.form-input-fa-right 
  color: #ddd
  cursor: pointer
  float: right
  &:hover
    color: #016AD2

.fa-spinner
  color: #ddd

.fa-check
  color: #00b200